{% extends 'base.html' %}
{% block content %}
<div class="section1">
	<div class="text1">
		<h1>All your files in one secure location, accesible anywhere.</h1>
		<p>Ahmed's Drive stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and coworkers.</p>
		{% if user.is_authenticated %}
		<div class="container">
			<div class="row">
			    <div class="col-lg-6">
			  		<a data-toggle="modal" href="#modal-1">Edit Contact</a>

{% include "ahmed_drive/folder_form.html" %}
<script type="text/javascript">
	$(document).ready(function(){
    $('#modal').on('submit', function(event){
        event.preventDefault();

        $.ajax({
            url: '/ahmed_drive/folder_form.html',
            type: 'POST',
            // headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: $('#modal').serialize(),
            
            beforeSend: function () {
                $("#modal-1").modal("show");
            },
            
            success: function(data) {
                $('#modal-1 .modal-body').html(data);
            }
        });
    });
});
</script>
			  	</div>
			  	<div class="col-lg-6">
			  		<a href="/ahmed_drive/fileshare/create">
                        <button type="button" class="btn btn-main">Upload File</button>
                    </a>
			    </div>
			</div>
		</div>
		{% else %}
		<a href="/accounts/login">
            <button type="button" class="btn btn-main">Sign in</button>
        </a>
        {% endif %}
    </div>
    <img src="https://raw.githubusercontent.com/hammercait/fylo-two-column-layout/9597c64eec3cb785b4a04b31e917204c1622355a/images/illustration-1.svg" alt="people working">
</div>
<hr class="py-1">
{% if user.is_authenticated %}
<!-- First Row [All the Folders]-->
<div class="container py-5">
    <h2 class="font-weight-bold mb-2">Your Folders</h2>
    <p class="font-italic text-muted mb-4">All your folders in one place, create new folders or open existing ones to see sub-folders and files.</p>
    
    <div class="row pb-5 mb-4">
    	{% for Folder in home_folders %}
    	{% if Folder.parent == false %}
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 py-1">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://icons-for-free.com/iconfiles/png/512/folder-131964753094019398.png" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="#" class="text-dark">{{Folder.name}}</a></h5>
                    <p class="small text-muted font-italic">{{Folder.cr_date}}</p>
                    <a href="/ahmed_drive/folder/{{Folder.id}}">
                    	<button type="button" class="btn btn-main">Open Folder</button>
                    </a>
                </div>
            </div>
            
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<hr>
<!-- First Row [All the Folders]-->
<div class="container py-5" style="margin-bottom: 100px;">
    <h2 class="font-weight-bold mb-2">Your Files</h2>
    <p class="font-italic text-muted mb-4">These are files that you have stored outside any folder.</p>
    
    <div class="row pb-5 mb-4">
    	{% for Fileshare in home_files %}
    	{% if Fileshare.folder == false %}
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 py-1">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="https://lh3.googleusercontent.com/proxy/0_dGo61kvCCIwJK3I8fZyQ0Mv_xpd7eG7mz_JASKgdc9QRtYcNEzJZPZhxdQturd9G2Jrn-hQNyfM6ZgdXmX_UCf28JZQC-s5YfIc5xsBc_aj3VNdZ9tcI6WDXsUBBENZfah" alt="" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="{{Fileshare.fileupload.url}}" download>{{Fileshare.fileupload}}</a></h5>
                    <a href="{{Fileshare.fileupload.url}}" download="bb_WPurosx.jpg">
                    	<button type="button" class="btn btn-main">Download</button>
                    </a>
                </div>
            </div>
            
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}

<div class="section2">
    <div class="background-color">
        <div class="text2">
            <h1>Stay productive, wherever you are</h1>
            <p>Never let location be an issue when accessing your files. Ahmed's Drive has you covered for all your file storage needs.<br><br>
            Securely share files and folders with friends, family, and colleagues for live collaboration. No email attachments required!. Create Nested folders.</p>
            <a href="#">See how Fylo works<img src="https://raw.githubusercontent.com/hammercait/fylo-two-column-layout/9597c64eec3cb785b4a04b31e917204c1622355a/images/icon-arrow.svg" alt="tiny arrow"></a>
            <div class="testimonial">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-two-column-layout/9597c64eec3cb785b4a04b31e917204c1622355a/images/icon-quotes.svg" alt="quote icon">
                <p>Ahmed's Drive has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.</p>
                <img class="profile-pic" src="https://github.com/hammercait/fylo-two-column-layout/blob/master/images/avatar-testimonial.jpg?raw=true" alt="profile pic">
                <div class="name">
                    <h5>Testimonial</h5>
                    <h6>Founder & CEO, Example</h6>
                </div>
            </div>
        </div>
        <img src="https://raw.githubusercontent.com/hammercait/fylo-two-column-layout/9597c64eec3cb785b4a04b31e917204c1622355a/images/illustration-2.svg" class="sec2img" alt="people working">
    </div>
</div>


<div class="section3">
    <div class="text3">
        <h2>Get early access today</h2>
        <p>It only takes a moment to sign up and our free starter tier is extremely generous. If you have any questions, I would be happy to help you.</p>
    </div>
    <a href="/accounts/register">Sign Up Now<img src="https://raw.githubusercontent.com/hammercait/fylo-two-column-layout/9597c64eec3cb785b4a04b31e917204c1622355a/images/icon-arrow.svg" alt="tiny arrow"></a>
</div>
{% endif %}
{% endblock %}